.feature_card {
	padding: 3%;
	width: 23%;

	background-color: var(--secondary_color);
	border-radius: 10px;
}

.feature_card:hover {
	cursor: pointer;
}

.feature_card img {
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;

	transition: 0.3s ease-in-out;
	z-index: 1;
}

.feature_card:hover .feature_img {
	transform: scale(1.2);
}

.feature_card h3 {
	font-size: 1.5rem;
	color: var(--primary_color);
}

@media (min-width: 320px) and (max-width: 425px) {
	.feature_card {
		width: 90%;
		margin-top: 15%;
		padding: 10%;
	}

	.feature_card h3 {
		font-size: 1.3rem;
		color: var(--primary_color);
	}
}
